* {
  padding: 0;
  margin: 0;
  font-family: 'Exo', sans-serif;
  box-sizing: border-box;
  font-size: 16px; }

.banner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: url("../img/background-top.png") top right/cover no-repeat; }
  .banner__info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px; }
    .banner__info__title {
      font-size: 3.3rem;
      font-weight: 100;
      line-height: 4.2rem;
      letter-spacing: 0.09rem;
      max-width: 630px;
      text-align: center;
      margin-top: 40px; }
    .banner__info__icon {
      opacity: 0.6;
      margin-top: 40px; }
    .banner__info__button {
      font-size: 0.87rem;
      font-weight: 400;
      line-height: 2.81rem;
      letter-spacing: 0.175rem;
      width: 169px;
      background-color: rgba(255, 109, 109, 0.8);
      text-align: center;
      color: #fff;
      text-transform: uppercase;
      margin-top: 20px; }
    .banner__info__reference {
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 2.81rem;
      letter-spacing: 0.03rem;
      color: #282828; }

.info {
  display: flex; }
  .info--small {
    position: relative;
    height: 65vh;
    width: 100%; }
    .info--small__article {
      display: flex;
      height: 100%;
      width: 42%; }
      .info--small__article__background-red {
        height: 100%;
        width: 15%;
        background-color: rgba(255, 109, 109, 0.8); }
      .info--small__article__background-mix {
        height: 100%;
        width: 85%;
        background: linear-gradient(to bottom left, #fff 50%, rgba(255, 109, 109, 0.8) 50%); }
    .info--small__wrapper {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 58%;
      background-color: #fff;
      max-width: 85%;
      margin: 0 auto; }
    .info--small__laptop {
      position: absolute;
      max-width: 45%;
      height: auto;
      left: 3%;
      top: 50%;
      transform: translateY(-50%); }
  .info__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 90vh; }
  .info__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    max-width: 67%;
    margin: 0 auto; }
    .info__content__name {
      font-size: 0.87rem;
      font-weight: 500;
      line-height: 2.75rem;
      letter-spacing: 0.175rem;
      text-transform: uppercase;
      color: rgba(255, 109, 109, 0.8); }
    .info__content__title {
      font-size: 2.06rem;
      font-weight: 500;
      line-height: 2.75rem;
      letter-spacing: 0.09rem;
      max-width: 94%;
      margin-bottom: 25px; }
      .info__content__title--small {
        max-width: 76%; }
      .info__content__title__dots {
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.56rem;
        letter-spacing: 0.22rem;
        color: rgba(255, 109, 109, 0.8);
        letter-spacing: 3.5px; }
    .info__content__textone {
      font-size: 0.87rem;
      font-weight: 500;
      line-height: 1.44rem;
      letter-spacing: 0.03rem;
      margin-bottom: 15px; }
      .info__content__textone--small {
        max-width: 85%; }
    .info__content__texttwo {
      font-size: 0.87rem;
      font-weight: 500;
      line-height: 1.44rem;
      letter-spacing: 0.03rem; }
      .info__content__texttwo--small {
        max-width: 60%;
        text-align: center; }
  .info__article {
    width: 40%; }
    .info__article__space {
      height: 30%;
      background-color: #ececec; }
    .info__article__figure {
      height: 70%;
      background: linear-gradient(to right bottom, #ececec 50%, rgba(255, 109, 109, 0.8) 50%); }

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: url("../img/background-middle.png") top center/cover no-repeat;
  height: 85vh;
  position: relative; }
  .content--black {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    height: 80vh;
    background: url("../img/background_figures.png") center center/cover no-repeat;
    background-color: black; }
  .content__penholder {
    position: absolute;
    top: 0;
    left: 65px; }
  .content__earphones {
    position: absolute;
    top: -10px;
    right: 125px; }
  .content__cup {
    position: absolute;
    bottom: 0;
    right: 90px; }
  .content__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    max-width: 78%;
    margin: 0 auto; }
    .content__wrapper--black {
      align-items: stretch; }
  .content__block {
    text-align: center; }
    .content__block--small {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .content__block__name {
      font-size: 0.87rem;
      font-weight: 500;
      line-height: 1.88rem;
      letter-spacing: 0.175rem;
      color: rgba(255, 109, 109, 0.8);
      text-transform: uppercase; }
    .content__block__title {
      font-size: 2.19rem;
      font-weight: 500;
      line-height: 2.75rem;
      letter-spacing: 0.09rem;
      margin-bottom: 30px; }
      .content__block__title--white {
        color: #fff; }
  .content__container {
    display: flex;
    margin-top: 30px;
    max-width: 90%; }
    .content__container--black {
      max-width: 100%;
      margin-top: 0;
      margin-bottom: 100px; }
    .content__container__article {
      text-align: center;
      margin-right: 20px; }
      .content__container__article__title {
        font-size: 1.19rem;
        font-weight: 500;
        line-height: 2.75rem;
        letter-spacing: 0.05rem; }
        .content__container__article__title--black {
          color: #fff; }
      .content__container__article__subtitle {
        color: rgba(255, 109, 109, 0.8);
        font-size: 0.87rem;
        font-weight: 500;
        line-height: 0.31rem;
        letter-spacing: normal;
        margin-bottom: 30px; }
      .content__container__article__text {
        font-size: 0.87rem;
        font-weight: 500;
        line-height: 1.44rem;
        letter-spacing: 0.03rem;
        opacity: 0.66; }
        .content__container__article__text--black {
          color: #fff;
          font-style: italic; }
  .content__article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    filter: hue-rotate(90deg) sepia(1) brightness(10); }
  .content__image {
    width: 73%;
    margin-top: 75px; }

.block {
  padding-top: 92px; }

.article {
  background-color: #323969;
  padding: 65px 0; }
  .article__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative; }
  .article__inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;
    width: 80%;
    padding: 30px 0; }
    .article__inputs__pointer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch; }
      .article__inputs__pointer__text {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.5rem;
        letter-spacing: 0.03rem;
        color: #fff; }
      .article__inputs__pointer__image {
        width: 25%; }
    .article__inputs__input {
      width: 22%;
      height: 44px;
      background-color: #464d78;
      border: 1px solid #fff; }
      .article__inputs__input::placeholder {
        font-size: 0.8rem;
        font-weight: 400;
        line-height: 1.56rem;
        letter-spacing: 0.03rem;
        color: #fff;
        padding-left: 15px;
        text-transform: uppercase; }
      .article__inputs__input--white {
        width: 78%;
        background-color: #fff;
        color: #4e4e5e; }
        .article__inputs__input--white::placeholder {
          color: #4e4e5e; }
    .article__inputs__wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      width: 22%; }
    .article__inputs__button {
      font-size: 0.8rem;
      font-weight: 400;
      line-height: 1.56rem;
      letter-spacing: 0.03rem;
      width: 100%;
      height: 44px;
      border: 1px solid rgba(255, 109, 109, 0.8);
      background-color: rgba(255, 109, 109, 0.8);
      color: #fff;
      text-transform: uppercase; }
  .article__footer {
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.56rem;
    letter-spacing: 0.04rem;
    color: #fff;
    margin-top: 30px; }
    .article__footer__paragraph {
      text-decoration: underline; }

.footer {
  height: 40vh; }
  .footer__wrapper {
    height: 100%;
    display: flex;
    flex-direction: row; }
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 77%;
    background-color: #ececec;
    margin: 0 auto;
    padding-left: 50px; }
    .footer__content__first {
      width: 24%; }
      .footer__content__first__text {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: 0.03rem;
        opacity: 0.56; }
    .footer__content__middle {
      width: 14%; }
      .footer__content__middle__title {
        font-size: 1.19rem;
        font-weight: 500;
        line-height: 3.13rem;
        letter-spacing: 0.04rem;
        font-size: 1.19rem;
        font-weight: 500; }
      .footer__content__middle__text {
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 1.87rem;
        letter-spacing: 0.02rem;
        opacity: 0.56; }
    .footer__content__last {
      width: 27%;
      padding-top: 17px; }
      .footer__content__last__title {
        font-size: 1.19rem;
        font-weight: 500;
        line-height: 1.25rem;
        letter-spacing: 0.04rem;
        margin-bottom: 15px; }
      .footer__content__last__submit {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        margin-bottom: 30px; }
        .footer__content__last__submit__button {
          height: 44px;
          width: 20%;
          background: url("../img/footer_button_icon.png") center center/contain no-repeat;
          background-size: 23px;
          background-color: #ff6d6d; }
      .footer__content__last__images {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        width: 60%;
        margin: 0 auto; }
  .footer__article {
    width: 23%;
    background: linear-gradient(to right top, #ececec 50%, rgba(255, 109, 109, 0.8) 50%); }

@media screen and (max-width: 1024px) {
  * {
    font-size: 14px; }
  .content__penholder, .content__earphones, .content__cup {
    display: none; } }

@media screen and (max-width: 785px) {
  * {
    font-size: 12px; }
  .content {
    height: auto; }
    .content--black {
      height: auto;
      margin-bottom: 0; }
    .content__wrapper {
      padding-top: 25px; }
    .content__container {
      flex-direction: column; }
      .content__container__block {
        margin-top: 40px; }
      .content__container--black {
        margin-top: 50px; }
      .content__container__article {
        margin-bottom: 25px; }
  .footer {
    height: 650px; }
    .footer__content {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start; }
      .footer__content__first {
        width: 50%; }
      .footer__content__middle {
        width: auto; }
      .footer__content__last {
        width: 100%; } }

@media screen and (max-width: 550px) {
  * {
    font-size: 10px; }
  .info {
    flex-direction: column; }
    .info--small {
      margin: 0 auto;
      height: auto;
      padding: 30px 0; }
      .info--small__wrapper {
        width: auto; }
      .info--small__article {
        display: none; }
      .info--small__laptop {
        display: none; }
    .info__wrapper {
      width: 100%; }
    .info__content__title, .info__content__textone {
      max-width: auto; }
    .info__article {
      display: none; }
  .content__article {
    flex-wrap: wrap; }
  .article__inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; }
    .article__inputs__input {
      width: 85%;
      margin-bottom: 20px; }
    .article__inputs__wrapper {
      width: auto;
      padding: 15px 0; }
    .article__inputs__button {
      width: 85%; } }
