@import './partials/mixins', './partials/variables';

* {
    padding: 0;
    margin: 0;
    font-family: 'Exo', sans-serif;
    box-sizing: border-box;
    font-size: 16px;
}

.banner {
    @include flexbox;
    width: 100%;
    height: 100vh;
    background: url('../img/background-top.png') top right / cover no-repeat;

    &__info {
        @include flexbox;
        flex-direction: column;
        margin-bottom: 40px;

        &__title {
            @include font(3.3rem, 100, 4.2rem, 0.09rem);
            max-width: 630px;
            text-align: center;
            margin-top: 40px;
        }

        &__icon {
            opacity: 0.6;
            margin-top: 40px;
        }

        &__button {
            @include font(0.87rem, 400, 2.81rem, 0.175rem);
            width: 169px;
            background-color: $secondary-color;
            text-align: center;
            color: $main-color;
            text-transform: uppercase;
            margin-top: 20px;
        }

        &__reference {
            @include font(0.75rem, 400, 2.81rem, 0.03rem);
            color: #282828;
        }
    }
}

.info {
    display: flex;

    &--small {
        position: relative;
        height: 65vh;
        width: 100%;

        &__article {
            display: flex;
            height: 100%;
            width: 42%;

            &__background-red {
                height: 100%;
                width: 15%;
                background-color: $secondary-color;
            }

            &__background-mix {
                height: 100%;
                width: 85%;
                background: linear-gradient(to bottom left, $main-color 50%, $secondary-color 50%);
            }
        }

        &__wrapper {
            @include flexbox(row, space-between, center);
            width: 58%;
            background-color: $main-color;
            max-width: 85%;
            margin: 0 auto;
        }

        &__laptop {
            position: absolute;
            max-width: 45%;
            height: auto;
            left: 3%;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &__wrapper {
        @include flexbox;
        width: 60%;
        height: 90vh;
    }

    &__content {
        @include flexbox(column, center, stretch);
        max-width: 67%;
        margin: 0 auto;

        &__name {
            @include font(0.87rem, 500, 2.75rem, 0.175rem);
            text-transform: uppercase;
            color: $secondary-color;
        }

        &__title {
            @include font(2.06rem, 500, 2.75rem, 0.09rem);
            max-width: 94%;
            margin-bottom: 25px;

            &--small {
                max-width: 76%;
            }

            &__dots {
                @include font(2rem, 400, 1.56rem, 0.22rem);
                color: $secondary-color;
                letter-spacing: 3.5px;
            }
        }

        &__textone {
            @include font(0.87rem, 500, 1.44rem, 0.03rem);
            margin-bottom: 15px;

            &--small {
                max-width: 85%;
            }
        }

        &__texttwo {
            @include font(0.87rem, 500, 1.44rem, 0.03rem);

            &--small {
                max-width: 60%;
                text-align: center;
            }
        }
    }

    &__article {
        width: 40%;

        &__space {
            height: 30%;
            background-color: $article-secondary-color;
        }

        &__figure {
            height: 70%;
            background: linear-gradient(to right bottom, $article-secondary-color 50%, $secondary-color 50%);
        }
    }
}

.content {
    @include flexbox;
    background: url('../img/background-middle.png') top center / cover no-repeat;
    height: 85vh;
    position: relative;

    &--black {
        @include flexbox(column, center, stretch);
        height: 80vh;
        background: url('../img/background_figures.png') center center / cover no-repeat;
        background-color: $text_secondary-color;
    }

    &__penholder {
        position: absolute;
        top: 0;
        left: 65px;
    }

    &__earphones {
        position: absolute;
        top: -10px;
        right: 125px;
    }

    &__cup {
        position: absolute;
        bottom: 0;
        right: 90px;
    }

    &__wrapper {
        @include flexbox(column, flex-end, center);
        max-width: 78%;
        margin: 0 auto;

        &--black {
            align-items: stretch;
        }
    }

    &__block {
        text-align: center;

        &--small {
            @include flexbox(column, center, center);
        }

        &__name {
            @include font(0.87rem, 500, 1.88rem, 0.175rem);
            color: $secondary-color;
            text-transform: uppercase;
        }

        &__title {
            @include font(2.19rem, 500, 2.75rem, 0.09rem);
            margin-bottom: 30px;

            &--white {
                color: $main-color;
            }
        }
    }

    &__container {
        display: flex;
        margin-top: 30px;
        max-width: 90%;

        &--black {
            max-width: 100%;
            margin-top: 0;
            margin-bottom: 100px;
        }

        &__article {
            text-align: center;
            margin-right: 20px;

            &__title {
                @include font(1.19rem, 500, 2.75rem, 0.05rem);

                &--black {
                    color: $main-color;
                }
            }

            &__subtitle {
                color: $secondary-color;
                @include font(0.87rem, 500, 0.31rem, normal);
                margin-bottom: 30px;
            }

            &__text {
                @include font(0.87rem, 500, 1.44rem, 0.03rem);
                opacity: 0.66;

                &--black {
                    color: $main-color;
                    font-style: italic;
                }
            }
        }
    }

    &__article {
        @include flexbox(row, space-around, center);
        max-width: 100%;
        filter: hue-rotate(90deg) sepia(1) brightness(10);
    }

    &__image {
        width: 73%;
        margin-top: 75px;
    }
}

.block {
    padding-top: 92px;
}

.article {
    background-color: #323969;
    padding: 65px 0;

    &__wrapper {
        @include flexbox(column, space-around, center);
        position: relative;
    }

    &__inputs {
        @include flexbox(row, space-around, flex-end);
        width: 80%;
        padding: 30px 0;

        &__pointer {
            @include flexbox (row, center, stretch);

            &__text {
                @include font(0.8rem, 400, 1.5rem, 0.03rem);
                color: $main-color;
            }

            &__image {
                width: 25%;
            }
        }

        &__input {
            width: 22%;
            height: 44px;
            background-color: #464d78;
            border: 1px solid $main-color;

            &::placeholder {
                @include font(0.8rem, 400, 1.56rem, 0.03rem);
                color: $main-color;
                padding-left: 15px;
                text-transform: uppercase;
            }

            &--white {
                width: 78%;
                background-color: $main-color;
                color: $article-main-color;

                &::placeholder {
                    color: $article-main-color;
                }
            }
        }

        &__wrapper {
            @include flexbox(column, center, flex-end);
            width: 22%;
        }

        &__button {
            @include font(0.8rem, 400, 1.56rem, 0.03rem);
            width: 100%;
            height: 44px;
            border: 1px solid $secondary-color;
            background-color: $secondary-color;
            color: $main-color;
            text-transform: uppercase;
        }
    }

    &__footer {
        @include font(0.8rem, 400, 1.56rem, 0.04rem);
        color: $main-color;
        margin-top: 30px;

        &__paragraph {
            text-decoration: underline;
        }
    }
}

.footer {
    height: 40vh;

    &__wrapper {
        height: 100%;
        display: flex;
        flex-direction: row;
    }

    &__content {
        @include flexbox(row, space-around, center);
        width: 77%;
        background-color: $article-secondary-color;
        margin: 0 auto;
        padding-left: 50px;

        &__first {
            width: 24%;

            &__text {
                @include font(0.75rem, 500, 1.25rem, 0.03rem);
                opacity: 0.56;
            }
        }

        &__middle {
            width: 14%;

            &__title {
                @include font(1.19rem, 500, 3.13rem, 0.04rem);
                font-size: 1.19rem;
                font-weight: 500;
            }

            &__text {
                @include font(0.75rem, 500, 1.87rem, 0.02rem);
                opacity: 0.56;
            }
        }

        &__last {
            width: 27%;
            padding-top: 17px;

            &__title {
                @include font(1.19rem, 500, 1.25rem, 0.04rem);
                margin-bottom: 15px;
            }

            &__submit {
                @include flexbox(row, center, stretch);
                width: 100%;
                margin-bottom: 30px;

                &__button {
                    height: 44px;
                    width: 20%;
                    background: url('../img/footer_button_icon.png') center center / contain no-repeat;
                    background-size: 23px;
                    background-color: #ff6d6d;
                }
            }

            &__images {
                @include flexbox(row, space-around, stretch);
                width: 60%;
                margin: 0 auto;
            }
        }
    }

    &__article {
        width: 23%;
        background: linear-gradient(to right top, #ececec 50%, rgba(255, 109, 109, 0.8) 50%);
    }
}

@import './partials/mediamw1024', './partials/mediamw785', './partials/mediamw550';